
.Hero {
    background: url('../images/concrete8.jpg');
    max-height: 920px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    border-bottom: 21px solid rgba(244,10,10,0.09);
  }
  
  .HeroGroup {
    margin: 0 auto;
    max-width: 500px;
    padding: 150px 50px;
    text-align: center;
   
  }
  
  .Hero h1 {
    opacity: 0;
    margin: 0;
    color: #222;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    animation: HeroAnimation;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .Hero p {
    opacity: 0;
    color: rgba(255,255,255, 0.7);
    line-height: 1.5;
    animation: HeroAnimation 2s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  
  .Hero a {
    font-size: 17px;
    font-weight: 600;
    color: rgba(255,255,255);
    text-transform: uppercase;
    background: rgba(0,0,0, 0.7);
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.25);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  @keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .Hero .Cards {
    position: relative;
    z-index: 80;
  }
  .Hero svg {
    position: absolute;
    left: 0;
    bottom : 0;
   
  }